.footer {
<<<<<<< HEAD
    background-color: #5e93bf; 
    color: #ffffffa5;
=======
    background-color: #f1f1f1;
    color: #333;
>>>>>>> 6772fc356764123090a4e44bb46438e1306c071d
    padding: 1rem;
    text-align: center;
    position: fixed; 
    bottom: 0;        
<<<<<<< HEAD
    height: 85px;    
    width: 100%;  
=======
    width: 100%;      
>>>>>>> 6772fc356764123090a4e44bb46438e1306c071d
}
